@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hind Guntur", sans-serif;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem  2rem; /* Adjusted padding for better spacing */
}

.logo {
    color: white;
    font-size: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem; /* Adjusted padding for consistency */
    font-size: large;
    border: none;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    font-size: small;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    top: 100%; /* Aligns the dropdown content below the button */
    left: 0;   /* Aligns the dropdown content to the left of the button */
}

.dropdown_content a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.dropdown_content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.I{ 
    margin-top: 2rem ; 
}

.Donate:hover{
    margin-top: 2rem ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.968);
    border-style: none;
    padding: 1em 1em; 
    color: white;
    background-color: black;
}

.Donate {
    margin-top: 2rem ;
    padding: 1em 1em; 
    color: black;
    background-color: white;
}


section p{
    text-align: center;
    text-wrap: balance;
    position: absolute;
    top: 250px;
    width: 70vw;
    margin: 2rem 4rem 1rem 4rem;
}